[Interface]
Address = {{ wireguard_address }}
ListenPort = {{ wireguard_port }}
PrivateKey = {{ wg_private_key.content | b64decode }}

# Forwarding and NAT
PostUp = iptables -A FORWARD -i {{ wireguard_interface }} -j ACCEPT; iptables -t nat -A POSTROUTING -s {{ wireguard_address }} -d {{ wireguard_private_network }} -j MASQUERADE
PostDown = iptables -D FORWARD -i {{ wireguard_interface }} -j ACCEPT; iptables -t nat -D POSTROUTING -s {{ wireguard_address }} -d {{ wireguard_private_network }} -j MASQUERADE

# Peers configuration
{% if wg_peers_conf is defined and not wg_peers_conf.skipped | default(false) %}
{{ wg_peers_conf.content | b64decode }}
{% endif %}
